# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local data outputs (optional)
data/*.csv

# Keep artifact if you want repo to be runnable; otherwise ignore it too
# artifacts/*.joblib